body{
    background: #ffffff;
    margin: 0px;
    padding: 0px;
}
h2{
    color: #AA1E4A
}
ul{
    margin: 0px 0px;
    padding: 0;
}
.site-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navigation{
    z-index: 1;
    text-align: center;
    background: #14c1e8;
}
.navigation img{
    width: 15%;
    position: relative;
    top: 6px;
}
.navigation li{
    display: inline;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: default;
    margin-right: 15px;
}

/* .main-img img{
width: 100%;
position: relative;
top: -150px;
z-index:-1;
} */

.sidebar{
    background: #eaeaea;
    width: 240px;
    text-align: center;
}
.main-area{
    flex: 1;
    display: flex;
    background: #fff;
}
.main-content{
    flex: 1;
}
.main-title{
        text-align: center;
}
.images-grid{
    display: inline-flex;
    width: 100%;
    margin-top: 0px;
}
.image-card{
    flex: 1;
    background: #ffffff;
    margin: 25px;

}
.images-grid img{
    width: 100%;
}
.images-grid h3,p{
    margin: 5px 10px;
}
/* .read{
    display: inline;
    margin: 0px 10px;
    margin-bottom: 10px;
    background: rgb(21, 127, 214);
    font-size: 18px;
    float: right;
    border: rgb(21, 127, 214) 3px solid;
    border-radius: 5px;
}
.read a{
    margin: 5px;
} */

.about{
    flex: 1;
    display: flex;
    margin: 0px 25px;
}
.about-img img{
    width: 100%;
    flex: 2;
}
.about-details{
    text-align: center;
    background: #264A73;
    padding-left: 25px;
}

.footer{
    background: #404040;
    text-align: center;

}
