body{
    background: #dddddd
}
.container{
    width: 100%;
}
.navigation{
    z-index: 1;
    text-align: center;
}
.navigation img{
    width: 15%;
    position: relative;
    top: 6px;
}
.navigation li{
    display: inline;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: default;
    margin-right: 15px;
}


.main-img img{
width: 100%;
position: relative;
top: -150px;
z-index:-1;
}


.grid{
    position: relative;
    top: -150px;
}
.title{
        text-align: center;
}
.showcase{
    display: inline-flex;
    width: 100%;
    margin-top: 0px;
}
.showcase-item{
    flex: 1;
    background: #ffffff;
    margin: 25px;

}
.showcase img{
    width: 100%;
}
.showcase h3,p{
    margin: 5px 10px;
}
.read{
    display: inline;
    margin: 0px 10px;
    margin-bottom: 10px;
    background: rgb(21, 127, 214);
    font-size: 18px;
    float: right;
    border: rgb(21, 127, 214) 3px solid;
    border-radius: 5px;
}
.read a{
    margin: 5px;
}

.about-img{
    display: inline;
}
.about-img img{
    width: 50%;
}
.about-details{
    display: inline;
}
