body {
    background: #ffffff;
    margin: 0px;
    padding: 0px;
}
h1, h2 {
    color: #000;
    word-spacing: 05px;
    letter-spacing: 3px;
    margin-top: 0px;
    padding-top: 20px;
}
h3 {
    color: #bf312f;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase; 
}
p {
    color: #fff;
    font-family: 'Franklin Gothic Medium';
}
ul {
    margin: 0px 0px;
    padding: 0;
}
.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navigation {
    z-index: 1;
    text-align: center;
}
.navigation img {
    width: 15%;
    position: relative;
    top: 6px;
}
.navigation li {
    display: inline;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: default;
    margin-right: 15px;
}

.main-img img {
    width: 100%;
    background-size: cover;
    position: relative;
    top: -150px;
    z-index:-1;
}


/* main area styles */
.main-area{
    background: #fff;
    position: relative;
    top: -154px;
}
.main-content{
    flex: 1;
}

/* grid styles */
.grid{
    background: #fff;
    padding: 20px 0px;
}
.grid-title{
    text-align: center;
}
.images-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 0px;
}
.image-card{
    flex: 1;
    background: #ffffff;
    max-width: 250px;
    margin: 3px;
    padding: 5px;
    border: #c2c2c2 solid 1px;
}
.images-grid img{
    width: 100%;
}
.images-grid h3,p{
    margin: 10px 10px;
}
.images-grid p{
    color: #000;
}
/* grid styles end */

/* about styles */
.about{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* margin: 0px 0px; */
    background-image: url('./Good Morning.jpg');
    background-size: cover;
}

.about-details{
    width: 33%;
    padding: 30px 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.19);
    background: linear-gradient(from right to left, rgba(0,0,0,0), rgba(0, 0, 0, 0.7));
}
/* about styles end */
/* main-area style ends */


/* footer styles */
.footer{
    background: #404040;
    display: flex;
    /* position: relative;
    top: -153px;*/
    flex-wrap: wrap;

}
.flex-item{
    flex: 1;
    text-align: center;
    padding-bottom: 10px;
}
.newsletter h2{
    margin: 10px 0px;
}
.newsletter .mail{
    margin-left: 20px;
}
.newsletter .button{
    background: #bf312f;
    border: 0;
    width: 60px;
    height: 27px;
    border-radius: 3px;
    margin-left:5px;
    float: right;
}
.connect{
    display: flex;
    flex-direction: column;
    flex:1;
}
.connect-title h2{
    margin: 10px 0px;
}
.social-item{
    padding: 0;
    display: inline;
    list-style: none;
}
.links h2{
    margin: 10px 0px;
}
.copyright{
    background: #555;
}
.copyright p{
    margin: 0 20px;
    padding: 3px 0px;
}