.about-section {
    background: url("/assets/images/about.jpg");
    background-size: cover;
    .about {
      text-align: center;
      padding-top: 150px;
    }
    .details-container {
      margin: 0 400px;
      padding-bottom: 60px;
      .photographer{
        text-align: end;
      }
    }
  }