.cover-category{
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
    svg {
      fill: $white;
      stroke: $white;
      width: 25%;
    }
    .category {
      flex: 1;
      margin-top: -80px;
      h1 {
        color: $white;
        letter-spacing: .25rem;
        font-size: 3rem;
      }
    }
    .photography h1{
      position: relative;
      margin-top: -10px;
      font-family: 'gloss and bloom';
    }
    .development h1{
      position: relative;
      margin-top: 25px;
      font-family: 'code bold';
    }
    .category:hover{
      svg {
        fill: $primary-color; 
        stroke: $primary-color; 
      }
      h1{
        color: $primary-color;
      }
    }
  }