body {
  background: #ffffff;
  margin: 0px;
  padding: 0px;
}
* {
  box-sizing: border-box;
}
h1,
h2 {
  color: #bf312f;
  word-spacing: 5px;
  letter-spacing: 3px;
  margin-top: 0px;
  padding-top: 20px;
}
h3 {
  color: #bf312f;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
}
p {
  color: #fff;
  font-family: "Franklin Gothic Medium";
}
ul {
  margin: 0px 0px;
  padding: 0;
}
.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("/assets/images/main.jpg");
  background-size: cover;
}
.navigation .bars {
  background: transparent;
  border: none;
  display: none;
}
.navigation-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.navigation-list a {
  display: inline-block;
}
.navigation-list .logo {
  height: 40px;
  margin: 0 10px;
}
.navigation-list .logo > img {
  height: 100%;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: default;
  margin-right: 15px;
}

.main-img img {
  width: 100%;
  background-size: cover;
  position: relative;
  top: -150px;
  z-index: -1;
}

/* main area styles */
.main-area {
  background: #fff;
}
.main-content {
  flex: 1;
}

/* grid styles */
.grid {
  background: #fff;
  padding: 20px 0px;
}
.grid-title {
  text-align: center;
}
.images-grid {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  /* margin: 20px 0px; */
}
.images-grid .grid-item {
  width: 25%;
  flex-shrink: 0;
}
.image-card {
  background: #ffffff;
  width: 100%;
  border: #c2c2c2 solid 1px;
}
.images-grid img {
  width: 100%;
}
.images-grid h3,
p {
  margin: 10px 10px;
}
.images-grid p {
  color: #000;
}
/* grid styles end */

// blog styles
.blog{
  height: 80vh;
  text-align: center;
}


/* about styles */
.about {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* margin: 0px 0px; */
  background-image: url("/assets/images/Good Morning.jpg");
  background-size: cover;
}

.about-details {
  width: 33%;
  padding: 30px 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.19);
  background: linear-gradient(
  from right to left,
  rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0.7)
  );
}
/* about styles end */
/* main-area style ends */

/* footer styles */
.footer {
  background: #404040;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px; 
}
.flex-item {
  flex: 1;
  padding-bottom: 10px;
}
.Brand{
  background-color: #454545;
}
.Brand h2{
  margin: 10px 0px;
}
.Brand p{
  margin: 0px;
}
/* social contacts styles */
.flex-item-container{
  margin: 0 40px;
}
.social-list{
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.social-item > svg{
  width: 25px;
}
/* social contacts styles ends */

/* Quick contact styles */
.quick{
  background-color: #454545;
}
.flex-item {
  input,textarea{
    border: 1px solid rgba(230,230,230, 0.4);
    border-radius: 3px;
    width: 100%;
    padding: .25rem .5rem;
  }
}
.flex-item .button{
  background-color: royalblue;
  border: 4px solid rgba(0,0,0,0);
  color: #fff;
}
.field{
  width: 100%;
  display: flex;
  margin-bottom: .75rem;
  &:last-child{
    margin-bottom: 0;
  }
  .icon {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem .75rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    svg{
      width: 15px;
    } 
  }
  .control{
    flex:1;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    &:not(:first-child){
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
/* quick contact styles end */

/* copyright strip styles */
.copyright {
  background: #555;
}
.copyright p {
  margin: 0 20px;
  padding: 3px 0px;
  font-size: 12px;
}
/* copyright styles end */


/* media queries starts here */
@media screen and (max-width: 768px) {
  .header {
    height: 50vh;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation-list {
    display: block;
  }
  .navigation .bars {
    display: inline-block;
  }
  .navigation-list .navigation-link {
    display: none;
  }
  .images-grid .grid-item {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  
  .images-grid .grid-item {
    width: 100%;
  }
}
