@import url('https://fonts.googleapis.com/css?family=Quicksand');
// $nav-color: #818181

body {
  background: #ffffff;
  margin: 0px;
  padding: 0px;
}
* {
  box-sizing: border-box;
}
h1,
h2 {
  color: #00dcf0;
  word-spacing: 5px;
  letter-spacing: 3px;
  margin-top: 0px;
  padding-top: 20px;
}
h3 {
  color: #818181;
  font-family: 'Code Bold';
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
h5{
  color: #818181;
  font-family: 'Code Light';
}
p {
  color: #717171;
  font-family: "comfortaa light";
}
ul {
  margin: 0px 0px;
  padding: 0;
}
.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  height: 100vh;
  background-image: url("/assets/images/cover-fade-1.jpg");
  background-size: cover;
}
.navigation {
  background: #38383880;
  background-blend-mode: multiply;
  display:flex;
  height: 80px
}
.nav-left {
  flex: 2;
  align-self: center;
  justify-content: start
}
.nav-center {
  flex: 1;
  align-self: center 
  a
  {
    height: 60px;
  }
  svg{
    stroke: #1dcad1;
    fill: #1dcad1;
    
  }
}
.nav-right {
  flex: 2;
  align-self: center;
  justify-content: end
}
.navigation .bars {
  border: none;
  display: none;
}
.navigation-list {
  list-style: none;
  padding: 0;
  display: flex;
  font-family: 'caviar dreams';
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 1rem;
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: default;
  margin: 0px 25px;
}
a:active {
  color: #1dcad1;
  text-decoration: underline;
}
a:hover {
  color: #1dcad1;
  text-decoration-style: solid;
}
.cover-category{
  display: flex;
  justify-content: center;
  svg{
    fill: #fff;
    stroke: #fff;
    width: 25%;
  }
  .category {
    flex: 1;
  }
}
.section-title {
  margin: 25px 25px ;
  font-family: 'comfortaa';
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  color: #00dcf0;
}
.gallery {
  float: right;
}
.gallery-section {
  height: 100vh;
  background: #c6c6c6;
}
.stories-section {
  height: 100vh;
  background: #fff;
  margin-bottom: 40px;
  .stories-container {
    display: flex;
    margin: 40px 20px;
    .story-card {
      flex: 1;
      margin: 0px 20px;
      .place-name{
        width: 40%;
        height: 40px;
        color: #fff;
        background: #00dcf0;
        text-align: center;
        float: right;
        position: relative;
        top: 40px;
        z-index: 1;
      }
      img {
        width: 100%;
        background: #bf312f;
      }
      .story-title{
        color: #00dcf0;
      }
      .story-date{
        color: #818181;
      }
      p{
        color: #717171;
      }
      .button{
        background: #00dcf0;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        width: 100px;
        height: 40px;
      }
    }
  }
}
.about-section {
  height: 100vh;
  background: url("/assets/images/about.jpg");
  background-size: cover;
  .about {
    text-align: center;
    padding-top: 150px;
  }
  .details-container {
    margin: 0 200px;
  }
}

.developer-section {
  height: 100vh;
  background: #fff;
  .dev-container {
    display: flex;
    margin: 100px 20px;
    .dev-card {
      flex: 1;
      margin: 0px 20px;
      img {
        width: 100%;
        background: #bf312f;
        border-radius: 8px;
      }
      .dev-title{
        color: #00dcf0;
      }
      .dev-date{
        color: #818181;
      }
      p{
        color: #717171;
      }
    }
    .mid {
      position: relative;
      top: -75px;
    }
  }
}

.contact-section {
  display: flex;
  height: 80vh;
  .contact-illustration {
    flex: 1;
    background: #00dcf0;
  }
  .form-container {
    flex: 1;
    text-align: center;
    background: #818181;
    .field input,textarea{
      width: 75%;
      margin: 10px auto ;
      padding: .5rem 1rem;
      border: #00dcf0 1px solid;
      border-radius: 3px;
      border-color: #00dcf0;
      color: #00dcf0;
      font-weight: bold;
    }
  }
}
.button {
  background-color: #00dcf0;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid hsl(185, 100%, 47%);
  color: #fff;
  margin-top: 10px;
}
.button:hover {
  background-color: #00dcf0;
  color: #fff;
  
}
.newsletter-section {
  text-align: center;
  .field input{
    margin: 10px auto ;
      padding: .5rem 1rem;
      border: #00dcf0 1px solid;
      border-radius: 3px;
      border-color: #00dcf0;
      color: #00dcf0;
      font-weight: bold;
  }
}
.main-img img {
  width: 100%;
  background-size: cover;
  position: relative;
  top: -150px;
  z-index: -1;
}

/* main area styles */
.main-area {
  background: #fff;
}
.main-content {
  flex: 1;
}

/* footer styles */
.footer {
  background: #454545;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px; 
}
footer {
  .newsletter-section{
    background: #fff;
    height: 40vh;
  }
  .footer-section{
    background: #717171;
    height: 20vh;
  }
}
/* media queries starts here */
@media screen and (max-width: 768px) {
  .header {
    height: 50vh;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation-list {
    display: block;
  }
  .navigation .bars {
    display: inline-block;
  }
  .navigation-list .navigation-link {
    display: none;
  }
  .images-grid .grid-item {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  
  .images-grid .grid-item {
    width: 100%;
  }
}
