@import "../sass/variables.scss";
.navigation {
    background: #38383880;
    background-blend-mode: multiply;
    display:flex;
    height: 80px
  }
  .nav-left {
    flex: 1;
    align-self: center;
    justify-content: start
  }
  .nav-center {
    display: flex;
    align-items: center;
    .logo {
      color: $primary-color;
    } 
  }
  .nav-right {
    flex: 1;
    align-self: center;
    justify-content: end
  }
  .navigation .bars {
    border: none;
    display: none;
  }
  .navigation-list {
    list-style: none;
    padding: 0;
    display: flex;
    font-family: 'caviar dreams';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 1rem;
    a{
      font-size: 18px;
      &:hover{
        animation-name: strok;
        animation-timing-function: ease-in-out;
        animation-duration: 0.2s;
        animation-fill-mode: both;
      }
    }
  }
  @keyframes strok{
    0%{
      text-shadow: none;
    }
    100%{
      text-shadow: 1px 1px 5px $primary-color;
      text-shadow: -1px -1px 5px $primary-color;
    }
  }